### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
.env



# End of https://www.toptal.com/developers/gitignore/api/django
static/
django_chache/
.idea/
secret_keys.py




