{% extends 'base.html' %}


{% block contact %}
<!-- Google Maps Start 
    <div class="akame-google-maps-area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5089.937518098824!2d30.941869312795525!3d50.36713700969949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4e620ab7bcb7d%3A0xde0bd1130d32e2ba!2zU2Nob29sIOKEljY!5e0!3m2!1sru!2sua!4v1625588762675!5m2!1sru!2sua" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    Google Maps End -->

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

    <!-- Contact Information Area Start -->
    <section class="contact-information-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Contact Information -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-contact-information mb-80">
                        <i class="icon_phone"></i>
                        <h4>Телефон</h4>
                        <p>(+38) 093 339-88-18</p>
                    </div>
                </div>

                <!-- Single Contact Information 
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-contact-information mb-80">
                        <i class="icon_pin"></i>
                        <h4>Адрес</h4>
                        <p>улица Головатого, 45, Борисполь, Киевская обл.</p>
                    </div>
                </div> -->

                <!-- Single Contact Information -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-contact-information mb-80">
                        <i class="icon_mail"></i>
                        <h4>Email</h4>
                        <p>Kyaremchuk7@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Information Area End -->



{% include 'inc/_contact_form.html' %}

{% endblock %}
