{% extends 'base.html' %}
{% load static %}
{% load services_tags %}


{% block welcome_area %}

    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img" style="background-image: url('{% static "img/services/service-02.jpg" %}');">
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-9 col-lg-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Я забочусь о  <br> Ваших руках</h2>
                                    <p data-animation="fadeInUp" data-delay="400ms">“Откройте для себя свой собственный стиль. Не бойтесь добавить что-то новое.”</p>
                                    <a href="{% url 'services:about' %}" class="btn akame-btn" data-animation="fadeInUp" data-delay="700ms">Обо мне</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img" style='background-image: url("{% static 'img/services/service-02.jpg' %}");'>
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-9 col-lg-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Записывайтесь<br> на маникюр</h2>
                                    <p data-animation="fadeInUp" data-delay="400ms">“Откройте для себя свой собственный стиль. Будьте открыты к экспериментам в дизайне.”</p>
                                    <a href="{% url 'services:contact_form' %}" class="btn akame-btn active" data-animation="fadeInUp" data-delay="700ms">Записаться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

{% endblock %}

{% block my_services %}
    <!-- Our Service Area Start -->
    <section class="akame-service-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>Мои услуги</h2>

                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <img src="{% static 'img/my-services/Service-03.jpg' %}" alt="">
                        <h5>Аппаратный</h5>
                        <p>Метод, который позволяет обработать ногти без применения режущих инструментов.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 mb- wow fadeInUp" data-wow-delay="400ms">
                        <img src="{% static 'img/my-services/Service-00.jpg' %}" alt="">
                        <h5>Комбинированный</h5>
                        <p>Сочетание преимуществ аппаратного и классического обрезного маникюра.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="600ms">
                        <img src="{% static 'img/my-services/Service-01.jpg' %}" alt="">
                        <h5>Ремонт/укрепление</h5>
                        <p>Ремонт поврежденных, а так же укрепление ослабленной ногтевой пластины.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="800ms">
                        <img src="{% static 'img/my-services/Service-02.jpg' %}" alt="">
                        <h5>Покрытие/дизайн</h5>
                        <p>Покрытие и индивидуальный подбор уникального дизайна для Ваших рук.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Our Service Area End -->
{% endblock %}

{% block why_choose_us_area %}
    <!-- Why Choose Us Area Start -->
    <section class="why-choose-us-area bg-gray section-padding-80-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="choose-us-thumbnail mt-30 mb-80">
                        <div class="choose-us-img bg-img"  style="background-image: url('{% static "img/master-img/why_should_belive.jpg" %}');  ;"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>Почему мне стоит доверять</h2>
                        <p>У меня Вы получите маникюр с высоким качеством обслуживания, красивым сервисом и профессиональным подходом.</p>
                    </div>
                    <!-- Choose Us Content -->
                    <div class="choose-us-content mt-30 mb-80">
                        <ul>
                            {% for advantage in advantages %}
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>{{ advantage }}</li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose Us Area End -->
{% endblock %}
{% block bredcramb_area %}
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Мои работы</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'services:home' %}"><i class="icon_house_alt"></i>На главную</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Портфолио</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->
{% endblock %} <!-- Index.html-->
{% block portfolio %}
     <!-- Portfolio Area Start -->
    <section class="akame-portfolio section-padding-0-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="portfolio-menu text-center mb-50">
                        <button class="btn active" data-filter="*">Некоторые работы</button>

                        <!--   <button class="btn" data-filter=".coloring">Coloring</button>
                         <button class="btn" data-filter=".barber">Barber</button>
                         <button class="btn" data-filter=".shaving">Shaving</button>
                         <button class="btn" data-filter=".hairstyle">Hairstyle</button>
                         <button class="btn" data-filter=".massage">Massages</button>-->
                    </div>
                </div>
            </div>

            <div class="row akame-portfolio-area">
                {% for item in portfolio %}

                    <!-- Single Portfolio Item -->
                    <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item nails mb-30 wow fadeInUp
                    {% for tag in item.tags.all %}
                        {{ tag }}
                    {% endfor %}"
                         data-wow-delay="200ms">
                        <div class="akame-portfolio-single-item">
                            <img src="{{ item.photo_after.url }}" alt="">

                            <!-- Overlay Content
                            <div class="overlay-content d-flex align-items-center justify-content-center">
                                <div class="overlay-text text-center">
                                    <h4>Hairstyle</h4>
                                    <p>Consectetur adipisicing elit sed doe</p>
                                </div>
                            </div>-->

                            <!-- Thumbnail Zoom -->
                            <a href="{{ item.photo_after.url }}" class="thumbnail-zoom"><i class="icon_zoom-in_alt"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="view-all-btn mt-30 text-center">
                        <a href="{% url 'services:portfolio' %}" class="btn akame-btn">Показать все работы</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Area End -->
{% endblock %}

{% block education %}
    {% get_education %}
{% endblock %}